<div class="container-fluid">
  <div class="hero">
    <div class="center-block text-center">

      <div class="row">
        <!--colums must add up -->
        <!--<div class="col-md-3"></div>-->
        <!--<div class="col-md-6 center">-->
        <div class="span12 centered-text">
          <%= link_to image_tag("michhome.jpeg", alt: "mich logo", width: 700), '#',
                      class: "img-responsive hidden-xs hidden-sm" %>
          <%= link_to image_tag("michhome.jpeg", alt: "mich logo", width: 500), '#',
                      class: "img-responsive hidden-md hidden-lg hidden-xs" %>
          <%= link_to image_tag("michhome.jpeg", alt: "mich logo", width: 300), '#',
                      class: "img-responsive hidden-md hidden-lg hidden-sm" %>

          <lead> lead </lead>
          <h1> header 1 </h1>
          <small>post</small>
          <lead> lead </lead>
          <h2> header 2 </h2>
          <small>post</small>
          <lead> lead </lead>
          <h3> header 3 </h3>
          <small>post</small>
          <lead> lead </lead>
          <h4> header 4 </h4>
          <small>post</small>
          <lead> lead </lead>
          <h5> header 5 </h5>
          <small>post</small>
          <lead> lead </lead>
          <h6> header 6 </h6>
          <small>post</small>

          <h2> header 2  </h2>
          <h3>  </h3>
          <h4>  </h4>
          <h5> </h5>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="span12">
        <div class="col-md-4">

          <a href="#" class="btn btn-block btn-primary">See My Portfolio!</a>
          <br>
          <a href="#" class="btn btn-block btn-primary">Booking Today!</a>
          <br>
          <a href="#" class="btn btn-block btn-primary">Register for VIP Access!</a>
          <br>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>




