<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<div class = "container-fluid top-container">
  <div class = "row">
    <%= render 'layouts/navbar' %>
  </div>
</div>
<div class = "container-fluid top-container">
  <div class = "row">
    <%= yield %>
  </div>
</div>
</body>
</html>

